<!doctype html>
{% load static from staticfiles %}
{% load catalog_extras %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>They're Not Yours, They're MINErals | {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,800' rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel="stylesheet" type="text/css">
    <!-- end google fonts -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block custom_css %}{% endblock %}
  </head>

  <body>
    <!-- side nav bar -->
    <div id="sidebar-left">
      {% for groupname, grouplookup in filter_fields.items %}
        {{ groupname }}
        <ul>
            {% nav_field_list grouplookup bolded %}
        </ul>
      {% endfor %}
    </div>
    <!-- end side nav bar-->

    <div class="bounds">
      <div class="grid-100">
        <a href="{% url 'catalog:index' %}">
          <!-- logo -->
          <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
            <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
            <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
            <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4" />
          </svg>
          <!-- end logo -->
          <h1 class="logo__name text-centered">They're Not Yours, They're MINErals</h1>
        </a>
        <p class="logo__text text-centered">They're not rocks.</p>
      </div><!-- close grid-100 -->

      <div>
        <!-- letter filter -->
        <div class="text-centered">
          <p>
            {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
              <span class="{% if letter in bolded %}bold{%else%}nonbold{% endif %}">
                <a href="{% url 'catalog:initial_letter' letter=letter %}">{{ letter }}</a>
              </span>
            {% endfor %}
          </p>
        </div>
        <!-- search -->
        <div>
          <form action="{% url 'catalog:search' %}">
            <ul class="menu">
              <li><input type="search" name="q"></li>
              <li><button type="button">Search</button></li>
            </ul>
          </form>
        </div>
      </div>
      
      

      {% block content %}
      {% endblock %}
      <div class="minerals__random">
        <a class="minerals__anchor" href="{% url 'catalog:random' %}">Show random mineral</a>
      </div>
    </div><!-- close bounds -->    
  </body>
</html>